<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
<meta charset="UTF-8" />
<title>Bookstore</title>

<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/app.css}" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style type="text/css" th:inline="text">
body {
	background-color: #eee;
}

.table-sm {
	font-size: 90%;
}

.jumbotron {
	background-color: white;
	border-radius: 15px;
}

.font-neucha {
	font-family: "Neucha", -apple-system, system-ui, BlinkMacSystemFont,
		"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.heart {
	font-size: 25px;
	color: red;
}

.img-fit {
    width: 100%;
    height: 100%;
    margin: auto;
  	object-fit: contain;
}
</style>
</head>
<body>
	<header th:fragment="header" class="pb-5">
		<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
			<div class="container">
				<a th:href="@{/}" class="nav-link font-neucha">Bookstore</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarResponsive" aria-controls="navbarResponsive"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav">
						<li class="nav-item"><a th:href="@{/books}" class="nav-link font-neucha">Libros</a></li>
					</ul>

					<ul class="nav navbar-nav ml-auto">
						<li class="nav-item"><a href="#" class="nav-link font-neucha">Registrarse</a></li>

						<li class="nav-item"><a href="#" class="nav-link font-neucha">Iniciar
								Sesión</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>

	<div class="container mt-5" th:fragment="jumbotron">
		<div class="jumbotron font-neucha">
			<h1 class="display-3">Bookstore!</h1>
			<p class="lead">This is a simple hero unit, a simple
				jumbotron-style component for calling extra attention to featured
				content or information.</p>
			<hr class="my-4">
			<p>It uses utility classes for typography and spacing to space
				content out within the larger container.</p>
			<p class="lead">
				<a class="btn btn-primary float-right btn-lg" href="#" role="button">Contáctenos</a>
			</p>
		</div>
	</div>

	<footer class="container" th:fragment="footer">
		<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
		
		<script type="text/javascript">
			$(".heart.fa").click(function() {
				$(this).toggleClass("fa-heart fa-heart-o");
			});
		</script>
	</footer>
</body>
</html>