<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/app :: head"></head>
<body>
	<header th:replace="layout/app :: header"></header>

	<div th:replace="layout/app :: jumbotron"></div>

	<div class="container mt-5">
		<div class="row">
			<div th:each="book : ${books}" class="col-md-3 col-sm-12">
				<div class="card border-light my-3 mx-3">
					<img class="card-img-top" th:src="@{/img/} + ${book.cover}" height="300" />
					<div class="card-body">
						<h4 class="card-title" th:text="${book.title}"></h4>
						<p class="card-text" th:text="${book.authors}"></p>
						<p class="card-text small" th:text="${book.categories}"></p>
						<a th:href="@{/books/} + ${book.id} + '/show'" class="btn btn-block btn-primary font-neucha">Ver Detalle</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout/app :: footer"></footer>
</body>
</html>