<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/app :: head"></head>
<body>
	<header th:replace="layout/app :: header"></header>

	<div class="container mt-5" id="vue-content">
		<div class="tile">
			<div class="mb-3">
				<button class="btn btn-primary btn-sm">Registrar Nuevo</button>
			</div>
			
			<v-client-table :columns="columns" :data="books" :options="options">
				<a class="card-link" :href="'course/' + props.row.id + '/edit'" slot="title" slot-scope="props">{{props.row.title}}</a>
				
				<span slot="price" slot-scope="props" class="text-monospace">{{props.row.price}}</span>
				<span slot="stock" slot-scope="props" class="text-monospace">{{props.row.stock}}</span>
				
				<div slot="child_row" slot-scope="props">
					<dl>
						<dt>Sinopsis</dt>
						<dd v-if="props.row.summary">{{props.row.summary}}</dd>
						<dd v-else>-</dd>
					</dl>
				</div>
			</v-client-table>
		</div>
	</div>

	<footer th:replace="layout/app :: footer"></footer>

	<script type="text/javascript" th:src="@{/js/vue.js}"></script>
	<script type="text/javascript" th:src="@{/js/axios.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/vue-tables-2.min.js}"></script>

	<script type="text/javascript">
		Vue.use(VueTables.ClientTable);
	
		var app = new Vue({
			el: "#vue-content",
			data: {
				books: [],
				columns: [ 'title', 'authors', 'categories', 'price', 'stock' ],
                options: {
                    perPage: 5,
                    perPageValues: [ ],
                    filterByColumn: true,
                    highlightMatches: true,
                    headings: {
                        'title': 'Título',
                        'authors': 'Autores',
                        'categories': 'Categorías',
                        'price': 'Precio',
                        'stock': 'Stock'
                    },
                    skin: 'table table-bordered table-sm table-striped table-thead-25',
                    columnsClasses: {
                        'title': 'text-left text-small',
                        'authors': 'text-left text-small',
                        'categories': 'text-left text-small',
                        'price': 'text-center text-small',
                        'stock': 'text-center text-small'
                    },
                    sortIcon: { 
                        'base': 'fa fas',
                        'is'  : 'fa fa-arrows-v',
                        'up'  : 'fa fa-long-arrow-up',
                        'down': 'fa fa-long-arrow-down'
                    },
                    texts: {
                        'count'        : '',
                        'first'        : 'First',
                        'last'         : 'Last',
                        'filter'       : '',
                        'filterPlaceholder': 'Buscar',
                        'limit'        : '',
                        'page'         : 'Página:',
                        'noResults'    : 'No se encontraron registros',
                        'filterBy'     : 'Filtrar por {column}',
                        'loading'      : 'Cargando ...',
                        'defaultOption': 'Seleccionar {column}',
                        'columns'      : 'Columnas'
                    }
                }
			},
			methods: {
				findAll () {
					axios.get('/api/books')
						.then(function (response) {
							app.books = response.data;
					  	})
					  	.catch(function (error) {
					    	console.log(error);
					  	});
				}
			},
			mounted() {
				this.findAll();
			}
		});
	</script>
</body>
</html>