<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/app :: head"></head>
<body>
	<header th:replace="layout/app :: header"></header>

	<div class="container mt-5">
		<div class="row">
			<div class="col-9">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-md-4 col-sm-12">
								<img th:src="@{/img/} + ${book.cover}" class="img-thumbnail img-fit" />
							</div>
							<div class="col-md-8 col-sm-12 px-3">
								<h3 th:text="${book.title}" class="font-weight-bold font-neucha"></h3>
								<p th:text="${book.summary}"
									class="text-justify"></p>
								<dl>
									<dt class="font-neucha">Autor</dt>
									<dd th:text="'- ' + ${book.authors}"
										class="text-monospace"></dd>
									<dt class="font-neucha">Género</dt>
									<dd th:text="'- ' + ${book.categories}"
										class="text-monospace"></dd>
									<dt class="font-neucha">Precio</dt>
									<dd th:text="'- ' + ${book.price}" class="text-monospace"></dd>
									<dt class="font-neucha">Stock Actual</dt>
									<dd th:text="'- ' + ${book.stock}" class="text-monospace"></dd>
								</dl>
								<hr />
								<a th:href="@{/}" class="btn btn-primary font-neucha">Regresar</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="card">
					<div class="card-header">
						<h1 class="text-center font-neucha">Bookstore</h1>
						<p th:text="${book.title}" class="text-center font-neucha"></p>
					</div>
					<div class="card-body">
						<h2 th:text="'S/' + ${book.price}" class="text-muted font-weight-bold text-center text-monospace"></h2>
						<br />
						<a class="btn btn-outline-danger btn-block" href="#">Añadir a la cesta</a>
						<a class="btn btn-outline-secondary btn-block" href="#">Comprar ahora</a>
						<br />
						<div class="text-center">
							<i class="heart fa fa-heart-o"></i>
						</div>				
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout/app :: footer"></footer>
</body>
</html>