.table-thead-25 thead th {
	height: 25px;
	line-height: 25px;
}

dl {
	margin-top: 10px;
	margin-left: 10px;
}

.tile {
	position: relative;
	background: #ffffff;
	border-radius: 3px;
	padding: 20px;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0
		rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0
		rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	margin-bottom: 30px;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

@media print {
	.tile {
		border: 1px solid #ddd;
	}
}

.tile.small {
	padding: 0;
}

.tile .overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.9);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	color: #555;
	border-radius: 3px;
}

.tile .overlay .l-text {
	font-size: 24px;
	margin-top: 15px;
}

.tile .tile-title {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 1.5rem;
}

.tile .tile-title-w-btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 20px;
}

.tile .tile-title-w-btn p {
	margin: 0;
}

.tile .tile-title-w-btn .title {
	margin: 0;
}

.tile .tile-title-w-btn .side {
	margin-bottom: 0;
	padding-left: 0;
}

.tile .tile-title-w-btn .btn-group {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

.tile .tile-footer {
	border-top: 1px solid #ddd;
	padding: 20px 0 0 0;
	margin-top: 10px;
}

.page-error {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: calc(100vh - 110px);
	margin-bottom: 0;
}

.page-error h1 {
	margin: 10px;
	color: #dc3545;
	font-size: 42px;
}

.VueTables .table .form-control {
	height: calc(1.6484375rem + 2px);
	padding: 0.25rem 0.5rem;
	font-size: 0.765625rem;
	line-height: 1.5;
}

.VueTables .pagination .page-link {
	font-size: 90%;
}

.VueTables p {
	font-size: 89%;
	font-weight: bold;
	margin-top: 10px;
}

.VueTables__child-row-toggler {
	width: 16px;
	height: 16px;
	line-height: 16px;
	display: block;
	margin: auto;
	text-align: center;
}

.VueTables__child-row-toggler--closed::before {
	content: "+";
}

.VueTables__child-row-toggler--open::before {
	content: "-";
}